.learn {
  &__image {
    position: relative;
    padding: 0px 0px 40% 0px;
    min-height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__link {
    @include link($cyan);
    text-transform: uppercase;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

