#pricing {
  text-align: center;
}
.pricing {
  &__text {
    margin-bottom: 40px;
  }
  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  &__item {
    border: 1px solid #ccc;
    &:hover {
      box-shadow: 0px 4px 8px #ccc;
    }
  }
}

.item {
  &__title {
    margin: 0;
    padding: 35px 0;
    font-size: 24px;
    background-color: #000;
    color: #fff;
  }
  &__title--main {
    background-color: #757575;
  }
  &__section {
    padding: 20px 10px;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ccc;
    span {
      font-weight: 700;
    }
  }
  &__section--big {
    padding: 35px 10px 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    span {
      display: block;
      margin: 0 auto;
      font-size: 30px;
      letter-spacing: 4px;
      margin-bottom: 20px;
      color: #000;
      font-weight: 400;
      i {
        color: #000;
        margin-right: 15px;
      }
    }
  }
  &__btn {
    background-color: #f1f1f1;
    padding: 20px 10px;
    a {
      @include link($ccc, $cyan, $ptb: 15px, $plr: 28px);
      i {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 601px) {
  .pricing__block {
    grid-template-columns: 1fr;
  }
}
