#team {
  text-align: center;
}
.team {
  &__text {
    margin-bottom: 30px;
  }
  &__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.item {
  &__image {
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 0px 0px 65% 0px;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;
  }
  &__profession {
    margin-bottom: 20px;
  }
}

@media (max-width: 601px) {
  .team__block {
    grid-template-columns: 1fr;
  }
}

