#work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  background-color: #000;
  position: relative;
}
.work {
  &__info {
    color: #fff;
    padding: 30px 0 20px;
  }
  &__text {
    line-height: 24px;
  }
  &__plus {
    @include link($ccc, $cyan, $ptb: 25px, $plr: 27px);
    position: absolute;
    bottom: -33px;
    right: 30px;
    border-radius: 50%;
  }
}
.card {
  &__info {
    padding: 15px;
    background-color: #fff;
    color: #000;
  }
  &__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__list {
    list-style: none;
    li {
      padding: 10px 0;
    }
  }
}

@media (max-width: 601px) {
  #work {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
